# Ignore .env file
.env

# Ignore virtual environment directory
.venv/

# Ignore zip files
*.zip

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore system files
.DS_Store
Thumbs.db